---
gateway:
  port: 7070
  index: "/web/"
  ssl:
    use: false
    cert-path: null
    key-path: null
  login:
    path: "/api/sso/login"
    page: "/web/login"
    api: "http://127.0.0.1:8080/api/sso/login"
  jwt:
    use: true
    check-expiration: false
    expires-min: null
  session:
    use: true
    timeout-hour: 24
  redirects:
  - from: "/api/sso/logout"
    to: "/logout"
  frontends:
  - path: "/web"
    dir: "/Users/aruis/develop/workspace-bsy/unicom_xinan_project/dist"
    not-found-reroute: "/"
    secured: true
    regex: false
    comment: null
    no-cache:
    - "/"
    - "/index.html"
    allowlist:
    - ".*\\..*"
    - "/login"
  upstreams:
  - path: "/api"
    secured: true
    regex: false
    comment: null
    no-cache: []
    allowlist:
    - "/sso/kaptcha"
    - "/platform/conf/get"
    - "/eventbus/.*"
    backends:
    - url: "http://127.0.0.1:8080/api/"
      weight: 1
  - path: "/eventbus.html"
    secured: false
    regex: false
    comment: null
    backends:
      - url: "http://127.0.0.1:8080/eventbus.html"
        weight: 1
