html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.full-height {
  height: 100%;
}

Header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
}

.logo{
  color: white;
  font-size: 2.2rem;
  margin-right: 20px;
}
.main-content {
  padding: 18px 28px 0 28px
}

.main-content .content-container {
  padding: 24px;
  min-height: 380px;
  height: 100%;
}

.card-body{
  max-height: calc(100vh - 400px);
  overflow: auto;
}

